*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main div start   */
.main{
    width: 100vw;
    height: 11188px;
    background-color: hsl(218, 28%, 13%);
}

/* header start  */
.header{
    width: 100vw;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: fit-content;
    height: fit-content;
    margin-left: 45px;
}

nav{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid black; */
    margin-right: 50px;
}

nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    padding: 0 30px;
    font-weight: bolder;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
/* header end  */



/* row2 start  */
.row2{
    width: 100vw;
    height: fit-content;
    background-image: url("images/bg-curvy-desktop.svg");
    filter:invert(1%);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
}

.row2 .main-image{
    width: fit-content;
    height: fit-content;
}
.row2 .main-heading{
    width: 718px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.row2 .main-heading h2{
    color: #fff;
    text-align: center;
    font-size: 41px;
    line-height: 55px;
}
.row2 .main-heading .para{
    width: 454px;
    text-align: center;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    line-height: 25px;
}
.row2 .main-heading button{
    background-color:   hsl(198, 60%, 50%);
    color: #fff;
    padding: 10px 74px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 1s;
}
.row2 .main-heading button:hover{
    background-color: hsl(176, 68%, 64%);
}



/* 768 responsive web ----------------- */
@media screen and (max-width:768px) {
    .logo img{
        width: fit-content;
        height: 40px;
    }
    nav ul li{
        padding: 0 20px;
    }
    /* header end  */

    /* row2 start  */
    .row2 .main-image{
        width: fit-content;
    }
    .row2 .main-image img{
        width: 400px;
    }
    .row2 .main-heading{
        width: 550px;
        /* border: 1px solid red; */
    }
    .row2 .main-heading h2{
        font-size: 30px;
        line-height: 40px;
    }
    .row2 .main-heading .para{
        font-size: 15px;
    }
}

@media screen and (max-width:578px) {
    .logo img{
        height: 30px;
    }
    nav{
        margin-right: 40px;
    }
    nav ul li{
        padding: 0 10px;
        font-size: 15px;
    }
    .logo{
        margin-left: 35px;
    }
    /* header end  */

    /* row2 start   */
    .row2 .main-image{
        width: fit-content;
    }
    .row2 .main-image img{
        width: 350px;
    }
    .row2 .main-heading{
        width: 450px;
    }
    .row2 .main-heading h2{
        font-size: 25px;
    }
    .row2 .main-heading .para{
        width: 400px;
        font-size: 14px;
    }

}

@media  (max-width:468px) {
    .logo img{
        height: 25px;
    }
    nav{
        margin-right: 30px;
    }
    nav ul li{
        padding: 0 10px;
        font-size: 13px;
    }
    .logo{
        margin-left: 25px;
    }
      /* header end  */

    /* row2 start   */
    .row2 .main-image{
        width: fit-content;
    }
    .row2 .main-heading{
        width: 280px;
    }
    .row2 .main-image img{
        width: 300px;
    }
    .row2 .main-heading h2{
        font-size: 22px;
        line-height: 30px;
    }
    .row2 .main-heading .para{
        width: 300px;
        line-height: 20px;
    }
    .row2 .main-heading .para{
        font-size: 13px;
    }
}

@media (max-width:368px){
    .logo img{
        height: 20px;
    }
    nav{
        margin-right: 15px;
    }
    nav ul li{
        font-size: 11px;
    }
    .logo{
        margin-left: 20px;
    }
       /* header end  */

    /* row2 start   */
    .row2 .main-image{
        width: fit-content;
    }
    .row2 .main-image img{
        width: 250px;
    }
    .row2 .main-heading{
        width: 260px;
    }
    .row2 .main-heading h2{
        font-size: 20px;
    }
    .row2 .main-heading .para{
        width: 200px;
        font-size: 12px;
    }
    .row2 .main-heading button{
        padding: 10px 60px;
    }
}